<nav>
  <ul>
    <li><a href="#!/mission/do/id/{{ mission.id }}">ミッション</a></li>
    <li><a href="#!/gacha">ガチャ</a></li>
    <li><a href="#!/crew/index">仲間</a></li>
    <li><a href="#!/crew/merge">合成</a></li>
  </ul>
</nav>
