<h2>ブロンズガチャ</h2>
<p>ソーシャルポイントで行うガチャ。なんと(棒読み)1日1回無料で行える。</p>
<div><a href="#!/gacha/do/1">ガチャする</a></div>


<h2>プラチナガチャ</h2>
<p>レア100%保証。特定のカードを集めると....!?(実際はすべてのカードを集めるのは不可能)</p>
<div><a href="#!/gacha/do/2">ガチャする</a></div>

<h2>期間限定ガチャ</h2>
<p>期間限定のイベントで行えるガチャ。マネタイズスキームに使われやすい。</p>
<div><a href="#!/gacha/do/3">ガチャする</a></div>

<h2>シルバーガチャ</h2>
<p>ゲーム内アクションで獲得したチケットで行うガチャ。そこそこ強力なアイテムを取得しやすい。(と言っているが、実際はゴミばかり)</p>
<div><a href="#!/gacha/do/4">ガチャする</a></div>

<h2>ゴールドガチャ</h2>
<p>ゲーム内アクションで獲得したチケットで行うガチャ。強力なアイテムを取得しやすい。(ゴミだったら、さすがに怒るぞ!)</p>
<div><a href="#!/gacha/do/5">ガチャする</a></div>

<hr />

<nav>
  <a href="#!/default">マイページへ</a>
</nav>
