<h2>ブロンズガチャ</h2>
<p>ソーシャルポイントで行うガチャ。なんと(棒読み)1日1回無料で行える。</p>
<div>
  <ul>
    <li><a href="#!/gacha/do/id/1">ガチャする</a></li>
    <li><a href="#!/gacha/do_many/id/1">10連続ガチャ</a></li>
  </ul>
</div>


<h2>プラチナガチャ</h2>
<p>レア100%保証。特定のカードを集めると....!?(実際はすべてのカードを集めるのは不可能)</p>
<div>
  <ul>
    <li><a href="#!/gacha/do/id/2">ガチャする</a></li>
    <li><a href="#!/gacha/do_many/id/2">10連続ガチャ</a></li>
  </ul>
</div>

<h2>期間限定ガチャ</h2>
<p>期間限定のイベントで行えるガチャ。マネタイズスキームに使われやすい。</p>
<div>
  <ul>
    <li><a href="#!/gacha/do/id/5">ガチャする</a></li>
    <li><a href="#!/gacha/do_many/id/5">10連続ガチャ</a></li>
  </ul>
</div>

<h2>シルバーガチャ</h2>
<p>ゲーム内アクションで獲得したチケットで行うガチャ。そこそこ強力なアイテムを取得しやすい。(と言っているが、実際はゴミばかり)</p>
<div>
  <ul>
    <li><a href="#!/gacha/do/id/3">ガチャする</a></li>
    <li><a href="#!/gacha/do_many/id/3">10連続ガチャ</a></li>
  </ul>
</div>

<h2>ゴールドガチャ</h2>
<p>ゲーム内アクションで獲得したチケットで行うガチャ。強力なアイテムを取得しやすい。(ゴミだったら、さすがに怒るぞ!)</p>
<div>
  <ul>
    <li><a href="#!/gacha/do/id/4">ガチャする</a></li>
    <li><a href="#!/gacha/do_many/id/4">10連続ガチャ</a></li>
  </ul>
</div>

<hr />

<nav>
  <a href="#!/home">マイページへ</a>
</nav>
