<h2>売却確認</h2>
<p>
  {{ crews.length }}名の仲間を売却します。
</p>
<div>
  <a href="#!/crew/sell_execute" data-outlet="1">売却する</a>
</div>

<nav>
  <ul>
    <li><a href="#!/crew/sell">選び直す</a></li>
  </ul>
</nav>
