<h2>仲間詳細</h2>
<h3>{{ crew.name }}</h3>
<div>
  <ul>
    <li>攻撃力: {{ crew.attack }}</li>
    <li>防御力: {{ crew.defence }}</li>
  </ul>
</div>
<nav>
  <ul>
    <li><a href="#!/crew/index">仲間一覧</a></li>
  </ul>
</nav>
